html, body {
  padding: 0;
  margin: 0;
}

.btn {
  background: #00f;
  color: white;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background: #00d;
}

.btn:active {
  background: #008;
}
