html, body {
  padding: 1rem;
  margin: 0;
}

.btn {
  background: #00f;
  color: white;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background: #00d;
}

.btn:active {
  background: #008;
}

.gray {
  color: #aaaaaa;
}

.first {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.last {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.day {
  float: left;
  padding: 1rem 1rem 0.5rem;
}

textarea#data {
  width: 100%;
  overflow: hidden;
  min-height: 3rem;
  max-height: 3rem;
  line-height: 3rem;
  max-width: 100%;
  resize: none;
}

ul {
  list-style-type: none;
}
